{% extends 'site.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>Contact</h1>
    </div>
    <p>You can contact me via email: <code>me [@] mavjs [dot] ninja</code></p>
    <p>Please consider encrypting the email using <a href="http://hkps.pool.sks-keyservers.net/pks/lookup?op=vindex&search=0xD594FDDD">PGP key</a>.</p>
    <p>GPG Fingerprint: <code>F1FE 72C1 5937 BAF9 E5DB  1E6B D201 B058 D594 FDDD</code></p>
    <br />
    <p>Jabber: <code>mavjs@jabber.org</code></p>
    <p>Fingerprint: <code>10A75E22 A826AB02 687DF7F9 9D568BBA 97760F30</code></p>
    <br />
    <h4>I appreciate any amount of <i>tip</i> for my work, whether it's big  or small.</h4>
    <p>Bitcoin address: <code>1LuUAHUzbZrjfkYjEtv5Qmt9NGTH8E7xnT</code></p>
    <p>Litecoin address: <code>LQXXFPMd2VUNyN63meNwifxVHMzVHHKf3T</code></p>
    <p>Gratipay: <a href="https://gratipay.com/mavjs/" target="_blank">https://gratipay.com/mavjs/</a></p>
{% endblock %}
