{% extends 'site.html' %}
{% block title %}About{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>About Maverick</h1>
    </div>
    <p>Tech enthusiast, lover of *nix systems, likes Free/Libre &amp; Open Source Software.</p>
    <p>A programmer, information/software/hardware privacy &amp; security enthusiast.</p>
    <p>Programs in <a href="http://python.org">Python</a>, <a href="https://en.wikipedia.org/wiki/JavaScript">Javascript</a>, <a href="http://www.nodejs.org/">Node.js</a> and delves into <a href="http://www.pylonsproject.org/">Pyramid</a>, <a href="http://expressjs.com/">Express</a>, <a href="http://sailsjs.org/">Sails</a>  web frameworks.</p>
    <p><a href="http://hitb.org/">Hack In The Box</a> Core Crew (Mostly <a href="https://www.twitter.com/@HackWEEKDAY">HackWEEKDAY</a>). Co-curator of <a href="http://python.my/">Python Malaysia</a>.</p>
    <p>A <a href="https://fedoraproject.org/wiki/Ambassadors">Fedora Ambassador</a> for Myanmar (Got approved/sponsored on <a href="http://kitall.blogspot.com/2012/04/fedora-ambassadors-welcome-week-182012.html">Fedora Ambassadors Welcome Week 18/2012</a>)</p>
    <p>Previously, core member  of the <a href="http://apucsfc.org">APU Cyber Security and Forensic Club</a>.</p> 
    <p>Have volunteered in a lot of events. Namely:</p>
    <ul>
        <li>#HITB2011KUL</li>
        <li>Fedora Users' and Developers' Conference (APAC) 2012</li>
        <li>#HITB2012KUL</li>
        <li>The World Congress on Computing and Information Technology (WCIT) 2013</li>
        <li>#HITB2013AMS</li>
        <li>#HITB2013KUL</li>
        <li>#HITB2014AMS</li>
    </ul>
{% endblock %}
